//Colors

$color-primary: #1d1d20;

$color-pink: #9c43a6;
$color-green: #77aa6e;

$color-secondary: #99005b;

$color-white: #fff;
$color-gray: #808080;
$color-gray-light: #f0efef;

@mixin flex($direction, $align-items: "", $justify-content: "") {
  display: flex;
  flex-direction: $direction;

  @if $align-items != "" {
    align-items: $align-items;
  }

  @if $justify-content != "" {
    justify-content: $justify-content;
  }
}
