@import "../../styles/variables";

.container {
  height: 15%;
  margin: 0.5rem 0 0 1.2rem;
  padding: 2rem 4rem 1rem 3rem;
  @include flex(row, center, space-between);

  .logo {
    font-size: 1.2rem;
    color: $color-white;
  }

  .socialMedia {
    gap: 2rem;
    color: $color-white;
    @include flex(row, center, "");

    .link {
      width: 2rem;
      height: 2rem;
      @include flex(row, center, center);

      .icon {
        width: 1.5rem;
        height: 1.5rem;
        color: $color-gray;
        display: inline-block;
        transition: all 100ms;

        &:hover,
        &:active {
          width: 1.75rem;
          height: 1.75rem;
          color: $color-white;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .container {
    margin: 0;
  }
}
